@if (_product is not null)
{
    <div class="media">
        <div class="media-img-wrapper m-3">
            <img class="media-img" src="@_product.ImageUrl" alt="@_product.Title" />
        </div>
        <div class="media-body">
            <h2 class="mb-0">@_product.Title</h2>
            <p>@_product.Description</p>
            <h4 class="price">$@_product.Price</h4>
        </div>
    </div>
}
else
{
    <span>@_message</span>
}
