@if (ProductService is { Products.Count: > 0 })
{
    <ul class="list-unstyled">
        @foreach (var product in ProductService.Products)
        {
            <li class="media my-3">
                <div class="media-img-wrapper m-2">
                    <a href="/product/@product.Id">
                        @if (product.ImageUrl is { Length: > 0 })
                        {
                            <img src="@product.ImageUrl" class="media-img" alt="@product.Title" />
                        }
                        else if (product is { Images.Count: > 0 })
                        {
                            <img src="@product.Images[0].Data" class="media-img" alt="@product.Title" />
                        }
                    </a>
                </div>
                <div class="media-body">
                    <a href="/product/@product.Id">
                        <h4 class="mb-0">@product.Title</h4>
                    </a>
                    <p>@product.Description</p>
                    <h5 class="price">@GetPriceText(product)</h5>
                </div>
            </li>
        }
    </ul>
    @for (var i = 1; i <= ProductService.PageCount; i++)
    {
        <a class="btn @(i == ProductService.CurrentPage ? "btn-info" : "button-outline-info") page-selection"
   href="/search/@ProductService.LastSearchText/@i">
            @i
        </a>
    }
}
else
{
    <span>Loading Products...</span>
}
