@if (product is not null)
{
    <div class="media">
        <div class="media-img-wrapper m-3">
            @if (product.ImageUrl is { Length: > 0 })
            {
                <img class="media-img" src="@product.ImageUrl" alt="@product.Title" />
            }
            else
            {
                <ProductImagesCarousel Product="product" />
            }
        </div>
        <div class="media-body">
            <h2 class="mb-0">@product.Title</h2>
            <p>@product.Description</p>
            @if (product.Variants is { Count: > 1 })
            {
                <div class="mb-3">
                    <select class="form-select" @bind="currentTypeId">
                        @foreach (var variant in product.Variants)
                        {
                            <option value="@variant.ProductTypeId">
                                @variant.ProductType?.Name
                            </option>
                        }
                    </select>
                </div>
            }
            @if (SelectedVariant is not null)
            {
                @if (SelectedVariant.OriginalPrice > SelectedVariant.Price)
                {
                    <h6 class="text-muted original-price">
                        @SelectedVariant?.OriginalPrice.ToString("C")
                    </h6>
                }
                <h4 class="price">
                    @SelectedVariant?.Price.ToString("C")
                </h4>
            }
            @if (SelectedVariant is not null)
            {
                <button class="btn btn-primary" @onclick="@(async () => await AddToCartAsync())">
                    <i class="oi oi-cart"></i>&nbsp;&nbsp;&nbsp;Add to cart
                </button>
            }
        </div>
    </div>
}
else
{
    <span>@message</span>
}
