@if (Product is not null)
{
    @if (Product.ImageUrl is { Length: > 0 })
    {
        <img src="@Product.ImageUrl" alt="@Product.Title" />
    }
    else
    {
        <div id="imagesCarousel" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                @{
                    var i = 0;
                }
                @foreach (var image in Product.Images)
                {
                    <div class="carousel-item @(i == 0 ? "active" : string.Empty)">
                        <div class="card">
                            <img src="@image.Data" class="d-block w-100 card-img-top" alt="@Product.Title">
                        </div>
                    </div>
                    i++;
                }
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#imagesCarousel" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#imagesCarousel" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    }
}
