@page "/cart"

<PageTitle>Shopping Cart</PageTitle>
<h3>Shopping Cart</h3>

@if (CartProducts is { Count: > 0 })
{
    <div>
        @foreach (var product in CartProducts)
        {
            <div class="container">
                <div class="image-wrapper">
                    <ProductFirstImage CssClass="media-img" CartProductResponse="product" />
                </div>
                <div class="name">
                    <h5>
                        <a href="/product/@product.ProductId/@product.ProductTypeId">
                            @product.Title
                        </a>
                    </h5>
                    <span>
                        @product.ProductType
                    </span>
                    <br />
                    <input type="number"
                           class="form-control input-quantity"
                           min="1"
                           @bind="product.Quantity"
                           @bind:after="@(async () => await UpdateQuantityAsync(product))"
                           @bind:event="onchange" />
                    <button class="btn btn-delete"
                    @onclick="@(async () => await RemoveProductFromCartAsync(product.ProductId, product.ProductTypeId))">
                        Delete
                    </button>
                </div>
                <div class="cart-product-price">
                    @((product.Price * product.Quantity).ToString("C"))
                </div>
            </div>
        }
        <div class="cart-product-price">
            <span>
                Total (@CartProducts.Count): @CartProducts.Sum(product => product.Price * product.Quantity).ToString("C")
            </span>
        </div>
    </div>
    <AuthorizeView>
        <AddressForm />
    </AuthorizeView>
    <button @onclick="PlaceOrderAsync" class="btn btn-success float-end mt-1">Check out</button>
}
else
{
    <span>@Message</span>
}
